<!DOCTYPE htmL>
<html Lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
    <title>Packt Todo Application«/title>
        <link rel="stylesheet" href="https: //stackpath. bootstrapcdn. com/
bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCje
SWFphJiwGPXr1jddIhOegiu1Fw05qRGVFXOdJZ4" crossorigin="anonymous">
        <link rel-"stylesheet" href-"https:/ase. fontawesome.cum/releases/ v5.0.10/css/all.css" integrity="sha384-+d@P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/
OvrJ+37WqIM7UoBtwH06NLg" crossorigin="anonymous">
</head>